[user]
	signingkey = 50236ED81379935B
	name = kilokon
	email = kilo.kon@outlook.com
[pull]
        rebase = true
[init]
        defaultBranch = main

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
        helper = !/usr/bin/gh auth git-credential
[core]
    pager = delta

[alias]
        c = commit -a
        b = branch
        ps= push
        pl= pull
        s = status
        d = diff
        l = log

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
