straight
plugin
build
target
themes
.stack-work
auto-save-list/
emacs/.emacs.d/#init.el#
emacs/.emacs.d/.#init.el
emacs/.emacs.d/init.el~
exmonad/
themes.toml
*.hash
*sqlite3*
*token*
*.lock
*.hi
*.o
*.backup
xmonad/.config/xmonad/xmonad
xmonad/.config/xmonad/xmonad-contrib

